*{
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}
html 
{

    font-size: 60.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

section
{
    padding: 5rem 9%;

}

.heading
{
    color: white;
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
    padding-bottom: 4rem;
}

.heading span
{
    font-weight: 800;
}

.home
{
    height: 100vh;
     background:black;   /*#131c25 */ /*#191e24*/
   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.home .heading
{
    font-size: 7rem;
    color: white;
    font-weight: 200;
    line-height: 1.2;
}

.home .heading span
{
    font-weight: 800;
    /* color: #004583; */
    color: rgb(195, 0, 0)
    
}

.home p
{
    color:white;
    font-size: 1.5rem;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.header
{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5rem 9%;
    z-index: 100;
}

.header .navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.header .navbar a
{
    font-size: 1.5rem;
    color: white;
    padding: 0 2rem;
    letter-spacing: 0.3rem;
    font-weight: 250;
    text-transform: uppercase;
    font-weight: 400;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,.navbar a.active
{
    color: rgb(195, 0, 0);
    border-bottom: 3px solid rgb(195, 0, 0);
}

.header .navbar .my-name
{
    margin-right: auto;
    /* color: #004583;ff9600 */
    color: rgb(195, 0, 0);
    font-size: 3rem;
    font-weight: 500;
}

.header .menu
{
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    text-align: left;
    display:none;
}

.projects
{
    background-color: black;
    
}

.projects .box-container .box .image
{
    overflow: hidden;
    position: relative;
    border-radius: 25px;
}

.projects .box-container .box .image img
{
    width: 100%;
    height: 100%;
    object-fit:scale-down;
}

.projects .box-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    
    gap: 4rem;
    
    
}

.projects .box-container .box
{
    
    padding: 0.5rem;
    border-radius: 25px;
    transition: 400ms;
    
}

.projects .box-container .box:hover {
    transform: scale(1.1, 1.1);
  }
.box-container:hover > .box:not(:hover) 
{
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  }

.projects .box-container .box .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.projects .box-container .box:hover .content {
    opacity: 1;
}

.projects .box-container .box .content h2 {
    color: rgb(195, 0, 0);
    font-size: 2.5rem;
}

.projects .box-container .box .content .button {
    display: block;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
}

.projects .box-container .box .content .button:hover {
    background-color: black;
}