*{
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}
html 
{

    font-size: 60.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

section
{
    padding: 5rem 9%;

}

.home
{
    height: 100vh;
     background:black;   /*#131c25 */ /*#191e24*/
   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.home .home-heading
{
    font-size: 7rem;
    color: white;
    font-weight: 200;
    line-height: 1.2;
}

.home .home-heading span
{
    font-weight: 800;
    /* color: #004583; */
    color: yellow;
    
}

.home p
{
    color:white;
    font-size: 1.5rem;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.header
{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5rem 9%;
    z-index: 100;
}

.header .navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.header .navbar a
{
    font-size: 1.5rem;
    color: white;
    padding: 0 2rem;
    letter-spacing: 0.3rem;
    font-weight: 250;
    text-transform: uppercase;
    font-weight: 400;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,.navbar a.active
{
    color: yellow;
    border-bottom: 3px solid yellow;
}

.header .navbar .my-name
{
    margin-right: auto;
    /* color: #004583;ff9600 */
    color: yellow;
    font-size: 3rem;
    font-weight: 500;
}

.header .menu
{
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    text-align: left;
    display:none;
}

